body{
    background-color:rgb(236, 232, 233);
    font-family:'Arial', sans-serif;
    padding-top: 50px;
    text-align: center;

}
button{
    background-color:rgb(233, 9, 166);
    color:rgb(255, 255, 255);
    border:none;
    padding:15px 30px;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
    transition:background-color 0.3s ease;
}
container{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    
}